.headline {
    margin: 0px;
    height: 200px;
  }
  
  .navbar {
    padding: 0px;
    transform: scale(1);
    transition-duration: 0.3s;
  }
  
  nav.fix-nav {
    opacity: 0.5;
    width: 190px;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(.8);
    transition-duration: .7s;
  }
  

  
  .summary {
    padding: auto;
    transform: scale(0.98);
    transition-duration: 0.5s;
  }
  
  main.zoom {
    transform: scale(1);
    transition-duration: 0.5s;
  }
  